@model Movie

@*Confirmation form that shows the movie information that was entered and gives the option to add another*@
<h1>Movie Added Successfully!</h1>

@*Message showing the specific movie that was added to the database*@
<p>Your movie, @Model.Title, has been successfully added to the database.</p>

@*buttons to allow the user to navigate to other pages*@
<li class="nav-item">
    <button class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddAMovie">Add Another Movie</button>
</li>
<li class="nav-item">
    <button class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MovieList">View all movies</button>
</li>